In [2]:
import pandas as pd
data = pd.read_csv("Pokemon.csv")

In [3]:
data.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

**Column of High_Low_Speed and High_Low_HP**

In [5]:
mean_hp = data["HP"].mean()
speed_mean = data["Speed"].mean()

def set_hp(a):
  if a < mean_hp:
    return "Low_HP"
  elif a == mean_hp:
    return "Mid_HP"
  else:
    return "High_HP"

def set_speed(value):
  if value < speed_mean:
    return "Low_Speed"
  elif value == speed_mean:
    return "Mid_Speed"
  else:
    return "High_Speed"

In [6]:
data["High_Low_HP"] = data["HP"].apply(set_hp)
data["High_Low_Speed"] = data["Speed"].apply(set_speed)
data

       #                   Name   Type 1  ... Legendary  High_Low_HP  High_Low_Speed
0      1              Bulbasaur    Grass  ...     False       Low_HP       Low_Speed
1      2                Ivysaur    Grass  ...     False       Low_HP       Low_Speed
2      3               Venusaur    Grass  ...     False      High_HP      High_Speed
3      3  VenusaurMega Venusaur    Grass  ...     False      High_HP      High_Speed
4      4             Charmander     Fire  ...     False       Low_HP       Low_Speed
..   ...                    ...      ...  ...       ...          ...             ...
795  719                Diancie     Rock  ...      True       Low_HP       Low_Speed
796  719    DiancieMega Diancie     Rock  ...      True       Low_HP      High_Speed
797  720    HoopaHoopa Confined  Psychic  ...      True      High_HP      High_Speed
798  720     HoopaHoopa Unbound  Psychic  ...      True      High_HP      High_Speed
799  721              Volcanion     Fire  ...      True      High_HP      High_Speed

[800 rows x 15 columns]